<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lista_compras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Inserir_alterar_eliminar.eliminar_dinheiro_gasto"></activity>
        <activity android:name=".Inserir_alterar_eliminar.eliminar_compras_efetuadas" />
        <activity android:name=".Inserir_alterar_eliminar.eliminar_lista_produtos" />
        <activity android:name=".Inserir_alterar_eliminar.alterar_dinheiro_gasto" />
        <activity android:name=".Inserir_alterar_eliminar.alterar_compras_efetuadas" />
        <activity android:name=".Inserir_alterar_eliminar.alterar_lista_produtos" />
        <activity android:name=".Inserir_alterar_eliminar.Inserir_lista_produtos" />
        <activity android:name=".Inserir_alterar_eliminar.inserir_dinheiro_gasto"/>
        <activity
            android:name=".Main_Recyclers.Categoria"
            android:parentActivityName=".Main_Recyclers.MainActivity" />
        <activity
            android:name=".Main_Recyclers.Produtos"
            android:parentActivityName=".Main_Recyclers.MainActivity" />

        <activity
            android:name=".Inserir_alterar_eliminar.inserir_compras_efetuadas"
            android:parentActivityName=".Main_Recyclers.Categoria">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.lista_compras.Main_Recyclers.Categoria" />
        </activity>

        <activity
            android:name=".Main_Recyclers.Dinheiro_gasto"
            android:parentActivityName=".Main_Recyclers.MainActivity" />
        <activity android:name=".Main_Recyclers.MainActivity">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
    <provider
        android:authorities="com.example.lista_compras"
        android:name=".BD.Compras_Efetuadas_ContentProvider"
        android:exported="false"/>
    </application>

    </manifest>
